@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Aboutnav {
    background: #205abd;
    border-bottom: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    height: 14rem;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutnav {
        height: auto;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutnav {
        height: auto;
    }
}

.Aboutlogo {
    /* width: 11rem;
    height: 12rem;
    position: relative; */
    width: 13.5%;
    margin-left: 2rem;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutlogo {
        width: 20%;
        margin-left: 1rem;
        position: relative;
        left: 37%;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutlogo {
        width: 30%;
        margin-left: 0.2rem;
    }
}

.Aboutul {
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-items: end;
    margin-right: 2rem;

}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutul {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }
}

.Aboutheading {
    text-align: center;
    bottom: 6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xxx-large;
    position: relative;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutheading {
        font-size: x-large;
        bottom: 2rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutheading {
        font-size: large;
        bottom: 0rem;
    }
}


#a {
    /* color: #bbd0ff; */
    position: relative;
    bottom: 8rem;
    list-style: none;
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    #a {
        font-size: medium;
        bottom: -2rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    #a {
        font-size: small;
        bottom: 0rem;
    }
}

.Aboutcontainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 34rem;
    left: 48rem;
    top: 17rem;
    font-size: x-large;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutcontainer {
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 56rem;
        width: 40rem;
        line-height: 2.5rem;
        font-weight: 400;
        font-size: large;
    }
}

.Abouheading1 {
    text-align: center;
    color: brown;
    font-size: xx-large;
}

@media only screen and (max-width:768px) {
    .Abouheading1 {
        text-align: center;
        color: brown;
        font-size: xx-large;
    }
}

.Aboutheading2 {
    font-size: 23px;
    color: brown;
}

@media only screen and (max-width:768px) {
    .Aboutheading2 {
        font-size: 23px;
        color: brown;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutcontainer {
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 43rem;
        font-size: large;
        font-weight: 500;
    }
}

.innerparent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .innerparent {}
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .innerparent {}
}

.Aboutouter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutouter {
        margin-top: 28rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutouter {
        /* Add mobile-specific styles */
        margin-top: 44rem;
    }
}

.Aboutinner {
    line-height: 2rem;
    max-width: 63rem;
    margin-bottom: 2rem;
    font-size: x-large;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutinner {
        max-width: 80%;
        font-size: large;
        margin-top: 13rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutinner {
        max-width: 90%;
        font-size: larger;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        font-weight: 500;
    }
}

.Aboutinner1 {
    line-height: 2rem;
    max-width: 63rem;
    margin-bottom: 2rem;
    font-size: x-large;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutinner1 {
        max-width: 80%;
        font-size: large;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutinner1 {
        max-width: 90%;
        font-size: medium;
    }
}

.Aboutinner2 {
    line-height: 2rem;
    max-width: 63rem;
    margin-bottom: 2rem;
    font-size: x-large;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutinner2 {
        max-width: 80%;
        font-size: large;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutinner2 {
        max-width: 90%;
        font-size: medium;

    }
}




.Aboutinner3 {
    line-height: 2rem;
    max-width: 63rem;
    margin-bottom: 2rem;
    font-size: x-large;
    /* width: 39rem; */

}

@media only screen and(max-width:480px) {
    .Aboutinner3 {
        width: auto;
        top: 17rem;
        font-size: large;
    }
}

@media only screen and (max-width:480px) {
    .Aboutinner3 {
        font-size: larger;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-weight: 500;
    }
}

@media only screen and (max-width:768px) {
    .Aboutinner3 {
        width: 27rem;
        font-size: large;
        font-weight: 400;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutinner2 {
        max-width: 80%;
        font-size: large;

    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutinner2 {
        max-width: 90%;
        font-size: larger;
        font-weight: 500;
    }
}


.Aboutoutside {
    max-width: 62rem;
    margin-left: 16rem;
    font-size: x-large;
    color: chocolate;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutoutside {
        max-width: 80%;

        margin-left: auto;

        margin-right: auto;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutoutside {
        max-width: 90%;

        margin-left: auto;
        margin-right: auto;
        font-size: larger;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}

.Questios {
    color: black;
}

.Questionstap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;

}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Questionstap {
        margin-top: 2rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Questionstap {
        margin-top: 1rem;
    }
}

.Abouttemplateimage {
    width: 100%;
    margin-top: 2rem;
    height: 35rem;

}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Abouttemplateimage {
        height: 32rem;
        max-width: 100%;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Abouttemplateimage {
        height: 45rem;
        max-width: 100%;
        margin-top: 1rem;
    }
}

.Abouttext {
    display: flex;
    justify-content: center;
    position: relative;
    top: -32rem;
    font-size: large;
    max-width: 83rem;
    gap: 2rem;
    line-height: 2rem;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Abouttext {
        flex-direction: column;
        align-items: center;
        top: 0;
        margin-top: 2rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Abouttext {
        flex-direction: column;
        align-items: center;
        top: 0;
        margin-top: 1rem;
        font-size: medium;
        max-width: 90%;
    }
}


.Aboutheadingtemplate {
    color: #fda003;
    font-weight: 800;
}

.Aboutperatemplate {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.Aboutlitel {
    margin-left: 4rem;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutlitel {
        margin-left: 2rem;
        margin-top: -44rem;
        flex-wrap: wrap;
        display: flex;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutlitel {
        margin-left: 1rem;
        position: relative;
        top: -7rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}


.Aboutlitel2 {
    position: absolute;
    top: 12rem;
    left: 56rem;
    max-width: 29rem;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutlitel2 {
        top: -23rem;
        left: 36%;
        transform: translateX(-50%);
        max-width: 46rem;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutlitel2 {
        top: -29rem;
        left: 46%;
        transform: translateX(-50%);
        max-width: 90%;
        width: 19rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
}

.Aboutlitel3 {
    position: relative;
    top: 20rem;
    right: 40rem;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .Aboutlitel3 {
        top: 8rem;
        right: auto;
        left: 48%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 45rem;
    }
}


/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .Aboutlitel3 {
        top: 2rem;
        right: auto;
        left: 56%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width:768px) {
    #Aboutfooter {
        margin-top: 7rem;
    }
}

#Aboutfooter {
    top: 0;
}

.Questions {
    font-size: large;
    text-align: center;
}

/* width 360 */

@media only screen and (max-width:360px) {
    .Aboutcontainer {
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 35rem;
        font-size: large;
        font-weight: 500;
    }
}

@media only screen and (max-width: 360px) {
    .Abouttemplateimage {
        height: 47rem;
        max-width: 100%;
        margin-top: 1rem;
    }
}