.Productcard1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: large;
  font-weight: 600;

}

.Productcard2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 23rem;
  font-size: large;
  font-weight: 600;
}

.Productcard3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: large;
  font-weight: 600;
}

#Productmargin {
  margin-bottom: 2rem;
}

.Productprice {
  color: grey;
  font-size: 22px;
}

.Productbutton {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#Productheading1 {
  font-size: medium;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

/* .Productbutton:hover {
  opacity: 0.7;
} */

.Productlogo {
  width: 100%;
}

#Pluslogo {
  position: relative;
  top: 4rem;
  transition: transform 0.3s ease-in-out;
}

.Productparent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* // */
/* productcontent */

/* .Productbanner {
  width: 100%;
} */

.Productheading {
  position: absolute;
  top: 46rem;
  left: 10rem;
  font-size: xxx-large;
}

.Productmain {
  margin-left: 18rem;
  margin-top: 2rem;

}

.Productpera {
  line-height: 3rem;
  max-width: 52rem;
  font-size: larger;

}

.ProductEMI1 {
  justify-content: center;
  display: flex;
  align-items: center;

}

.ProductEMI2 {
  justify-content: center;
  display: flex;
  align-items: center;

}

.ProductEMI3 {
  justify-content: center;
  display: flex;
  align-items: center;

}

.ProductEMI4 {
  justify-content: center;
  display: flex;
  align-items: center;

}

.ProductcardDetails {
  position: relative;
  top: 10.5rem;
}

.download {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.download a {
  color: white;
  cursor: pointer;
}

.EMIcontent {
  position: relative;
  top: -14rem;
  left: 6rem;
}

.manageemi {
  color: #142b5f;
  position: relative;
  top: 6rem;
  left: 2rem;
  font-weight: 500;
  width: 104%;

}

.featuresEMI {
  position: relative;
  color: red;
  margin-left: 2rem;
  line-height: 3rem;
  font-size: x-large;
  font-weight: 500;
  top: 6rem;
}

/* #EMIfeature {
  width: 182%;

} */

/* #financial {
  width: 115%;
} */

/* #manage {
  width: 124%;
} */

.EMIdetails {
  position: relative;
  right: 3rem;
  top: 7rem;
  line-height: 2rem;

}

/* #EMIproduct {
  position: relative;
  top: 11rem;
} */

.EMIheading {
  color: #142b5f;
  font-size: larger;
}

.EMIpera {
  font-size: large;
  color: darkseagreen;
}

.peradetails {
  font-size: large;
  color: darkseagreen;
}


/* responsive  */

@media screen and (max-width:480px) {
  .Productparent {
    display: block;
  }

  .Productmain {
    display: contents;
  }

  .ProductEMI1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .ProductEMI2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-wrap: wrap;

  }

  .ProductEMI3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
  }

  .ProductEMI4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  .EMIdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    margin-top: -7rem;
  }

  .EMIcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -7rem;
    left: -7rem;
  }

  #EMIbanner3 {
    position: relative;
    top: 7rem;

  }

  #bannerlast {
    position: relative;
    top: 8rem;

  }

  .featuresEMI {
    text-align: center;
    position: relative;
    left: 5rem;
  }

  #productfooter {
    position: relative;
    top: 15rem;
  }
  .Productpera{
    line-height: 2rem;
  }
}